
<p>
  <button>Books</button>
  <span class="tab">
    <button>Houses</button>
  </span>

</p>

<p>
  This is the character details page
</p>

<input #search placeholder="search for a character..."/>
<button (click)="searchCharacters(search.value)">search</button>
<ul>
 <li *ngFor = "let x of characterSearchArray " >
      -- name: {{x.name}} <br>
      -- gender: {{x.gender}}<br>
      -- date of birth: {{x.born}}<br>
      -- culture: {{x.culture}} <br> 
      -- played by: {{x.playedBy}}<br>
      -- books: {{x.books}} <br>
      -- povBook(s): {{x.povBooks}}<br>
          
</ul>

<p>List of Characters</p>
<ul>
  <li *ngFor = "let x of characters" (click)="getCharacters">
    --Name: {{x.name}}<br>
    --Alias: {{x.aliases}}<br>  
    --Book(s): {{x.books}}<br>
    --povBook(s): {{x.povBooks}}<br>
   
    
   <br>

  
  
</ul>
